<header>
  <h1 class="logo">
    <a routerLink="/login"><img src="../assets/logo.png" alt="Logo" width="80" height="80"></a>
  </h1>
  <input type="checkbox" class="nav-toggle" id="nav-toggle">
  <nav>
    <ul>
      <li><a routerLink="/login">Login</a></li>
      <li><a routerLink="/signup">Sign Up</a></li>
      <li><a (click)="logout()">Log out</a></li>
    </ul>
  </nav>
  <label for="nav-toggle" class="nav-toggle-label">
    <span></span>
  </label>
</header>
<main>
    <router-outlet></router-outlet>
</main>

<!--<div class="login-wrapper">-->
<!--<h1>Login</h1>-->
<!--<form action="" method="post" class="login-form">-->
<!--<div class="input-control">-->
<!--<input type="text" id="name" placeholder="Your Name" required>-->
<!--<label class="input-label" for="name">Your Name</label></div>-->
<!--<div class="input-control">-->
<!--<input type="email" id="email" placeholder="Your Email" required>-->
<!--<label class="input-label" for="email">Your Email</label></div>-->
<!--<div class="input-control">-->
<!--<input type="password" id="password" minlength="6" placeholder="Your Password" required>-->
<!--<label class="input-label" for="password">Your Password</label></div>-->
<!--<div class="action"><input class="btn" type="submit" name="login" value="Login"></div>-->
<!--</form>-->
<!--<div class="social-btn-group">-->
<!--<span>Log in with</span>-->
<!--<a class="social-btn social-btn-gl" href="#"></a>-->
<!--<a class="social-btn social-btn-gh" href="#"></a>-->
<!--</div>-->
<!--</div>-->
