/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/purple-green.css";
@import url("https://fonts.googleapis.com/css?family=Ubuntu|Ubuntu+Condensed");
@import "variables";

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #ffffff;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  width: 100vw;
  overflow-x:hidden;
}

.primary {
  background: #3f51b5;
}

.accent {
  background: #ff4081;
}

.warn {
  background: #f44336;
}

.success {
  background: #03dac5;
}

// btn style

.btn {
  display: inline-block;
  border: none;
  border-radius: 5%;
  padding: 0.5rem 1rem;
  margin: 0;
  text-decoration: none;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out,
  transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  //white-space: nowrap;
  //vertical-align: middle;
  touch-action: manipulation;
  user-select: none;
}

//.btn:hover:not(:disabled),
//.btn:focus:not(:disabled) {
//
//}

.btn:active {
  transform: scale(0.99);
}

.btn:disabled {
  background: #888888;
}

//.social-btn {
//  display: inline-block;
//  width: 32px;
//  height: 32px;
//  margin-top: 5px;
//  margin-right: 18px;
//  vertical-align: top;
//  opacity: .8;
//  border-radius: 50%;
//  cursor: pointer;
//}
//
//.social-btn-gh {
//  background: url("assets/github-logo.png");
//}
//
//.social-btn-gl {
//  background: url("assets/google-logo.png");
//}

// auth style


main {
  //background-image: url(/assets/background.jpg);
  background-color: #ecf0f1;
  background-blend-mode: multiply;
  color: #34495e;
  //-webkit-background-size: cover;
  background-size: cover;
  width: 100vw;
  min-height: 100vh;
  //.content {
  //  color: white;
  //  padding-top: 129px;
  //  width: 100vw;
  //  height: 100vh;

  //display: grid;
  //justify-items: center;
  //}
}

.content {
   //color: white;
   padding-top: 145px;
   width: 100vw;
   //height: 100vh;
   //background-image: url(/assets/background.jpg);
   //background-color: #333333;
   //background-blend-mode: multiply;
   //-webkit-background-size: cover;
   //background-size: cover;
   display: flex;
   //justify-content: center;
  align-items: center;
  flex-direction: column;

   input[type="text"],
   input[type="email"],
   input[type="password"],
   textarea {
     color: black;
     height: 3em;
     border: 1px solid rgba(191, 216, 227, .8);
     padding: 5px;
     margin: 10px;
     border-radius: 5px;
     font-size: 80%;
     width: 100%;
   }

   input[type='submit'] {
     grid-column: 2;
     margin-bottom: 20px;
   }

   .input-label {
     position: absolute;
     top: 7px;
     left: 14px;
     color: transparent;
     user-select: none;
     transition: 200ms ease all;
   }

   input:focus + .input-label,
   textarea:focus + .input-label {
     font-size: 11px;
     line-height: 13px;
     transform: translateY(-23px);
     color: #5b9ddf;
   }

   :focus::placeholder {
     color: transparent;
   }

   //.social-btn-group {
   //  display: grid;
   //  grid-template-columns: 2fr 1fr 1fr 5fr;
   //  margin-top: 32px;
   //  align-items: center;
   //}
 }

@media only screen and (min-width: $xs) {
  .content {

    //.login-wrapper, .signup-wrapper {
    //  width: 300px;
    //  margin-top: 0;
    //}

    //.social-btn-group {
    //  grid-template-columns: 2fr 1fr 1fr 2fr;
    //}
  }
}








